html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column-reverse;
}

.box {
  width: 60px;
  height: 60px;
  width: 60px;
  background: #f00;
  margin: 5px;
}
