html,
body,
#app {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

.box {
  height: 60px;
  width: 150px;
  background: #f00;
  margin: 5px;
}
