* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6ecf0;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialised !important;
}

input,
button {
  outline: 0;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
  padding: 0 30px;
}

header#main-header {
  height: 46px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 25%);
  position: relative;
  z-index: 1;
}

header#main-header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header#main-header nav ul {
  display: flex;
  list-style: none;
}

header#main-header nav ul li {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #667580;
  font-weight: bold;
  margin-left: 30px;
}

header#main-header nav ul li:first-child {
  margin-left: 0;
}

header#main-header nav ul li img {
  margin-right: 7px;
}

header#main-header div.side {
  display: flex;
}

header#main-header div.side input {
  width: 220px;
  border: 1px solid #e6ecf0;
  padding: 0 30px 0 12px;
  border-radius: 16px;
  color: #667581;
  font-size: 12px;
  font-weight: 500;
  background: #f5f8fa url("/images/search.svg") no-repeat 200px center;
}

header#main-header div.side img {
  height: 30px;
  widows: 34px;
  border-radius: 50px;
  margin: 0 15px;
}

header#main-header div.side button {
  height: 34px;
  background: #3bb9e3;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  border: 0;
  border-radius: 16px;
}

div.banner {
  height: 380px;
  width: 100%;
  background: #3bb9e3;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

div.bar {
  height: 59px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

div.bar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 285px;
  height: 100%;
}

div.bar .content ul {
  display: flex;
  list-style: none;
  height: 100%;
}

div.bar .content ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  position: relative;
}

div.bar .content ul li span {
  color: #667580;
  font-size: 12px;
  font-weight: bold;
  padding: 0 15px;
}

div.bar .content ul li strong {
  color: #667580;
  font-size: 18px;
  font-weight: bold;
  margin-top: 2px;
}

/* cria um novo elemento antes de fechar */
div.bar .content ul li.active::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #3bb9e3;
}

div.bar .content ul li.active strong {
  color: #3bb9e3;
}

div.bar .content .actions button {
  height: 34px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  font-weight: bold;
  font-size: 14px;
  color: #3bb9e3;
  border: 1px solid #3bb9e3;
  border-radius: 16px;

  margin-right: 20px;
}

div.bar .content .actions {
  display: flex;
}
