{% extends "_layouts/auth.njk" %} {% block body %}

<div class="page-not-found ">
  <img src="/images/logo.svg" height="42" />

  <strong>Ops! 404 - Página não encontrada</strong>

  <a href="/">Voltar</a>
</div>

{% endblock %}
