root = true

[*] # todas as extensoes de arquivo
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true # quando deixar espaço , ele remove,
insert_final_newline = true
end_of_line = lf

# instalar extensão do .editorConfig no VSCODE
