{% extends "_layouts/default.njk"%} {% block body %}

<div class="content">
  <strong>Agendando horário</strong>

  <div class="provider">
    <div>
      <img src="/files/{{ provider.avatar }}" />
      <strong>{{ provider.name }}</strong>
    </div>
  </div>

  <form action="/app/appointments/new/{{ provider.id }}" method="POST">
    <input type="text" class="flatpickr" placeholder="Escolha uma data" />

    <div id="hours">
      <label>
        <input type="radio" />
        12:00
      </label>
      <label>
        <input type="radio" />
        13:00
      </label>
      <label>
        <input type="radio" />
        14:00
      </label>
      <label>
        <input type="radio" />
        15:00
      </label>
    </div>

    <button type="submit">Agendar</button>
  </form>
</div>

<script type="text/javascript">
  flatpickr(".flatpickr", {
    minDate: new Date(),
    dateFormat: "d/m/Y"
  });
</script>

{% endblock %}
