{% for hour in available %}
<label
  class="{% if hour.available === false %}disabled{% endif %}"
  for="time-{{ hour.time }}"
>
  {% if hour.available === true %}
  <input
    type="radio"
    id="time-{{ hour.time }}"
    name="date"
    value="{{ hour.value }}"
  />
  {% endif %}
  {{ hour.time }}
</label>
{% endfor %}
