<strong>Recuperação de senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o email ({{email}}). Se você não foi o autor dessa requisição, seria interessante você trocar de senha</p>

<p>Para continuar com a recuperação de senha, utilize o token {{token}} ou clique no link abaixo:</p>

<a href="{{link}}">Criar nova senha</a>
